.middle {
  display: flex;
}

.set-wrapper {
  display: flex;
  align-items: center;
}

.set-wrapper label {
  font-size: 15px;
}

.input-wrapper-inner {
  display: flex;
  justify-content: space-evenly;
  .newOnesWrapper {
    border: 1px solid #333;
    padding: 20px 40px;
}
.pastWrapper {
    margin-left: 20px;
    border: 1px solid #333;
    padding: 20px 40px;
    // margin: 2rem 0;
    p {
      font-size: 70%;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        input[type="submit"] {
            margin: 10px auto 0;
            width: 100px;
        }
        .delete_btn {
          width: 150px;
          margin: 10px auto 0!important;
          background-color: red;
          border-radius: 20px;
          border: none;
          padding: 5px 10px;
          color: antiquewhite;
          transition: .3s;
          cursor: pointer;
          &:hover {
            background-color: rgb(169, 0, 0);
            color: white;
          }
        }
    }
  }
}
